<div class = "standard">
    <form>
        <button mat-raised-button class="emergencybutton">Hilfe anfordern</button>
        <mat-list class = "infoBox">
            <mat-list-item class = "infoBox">"Hilfe anfordern" klicken, um den Notfallkontakt zu benachrichtigen.</mat-list-item>
            <mat-list-item class = "infoBox">"Messages" klicken, um Nachrichten zu lesen und zu verfassen.</mat-list-item>                <mat-list-item class = "infoBox">"Kontakte" klicken, um Kontakte zu verwalten.</mat-list-item>
            <mat-list-item class = "infoBox">"Termine" klicken, um Termine zu verwalten.</mat-list-item>
             <mat-list-item class = "infoBox">"Menü" klicken, um sich abzumelden oder einstellungen zu ändern.</mat-list-item>
        </mat-list>

        <hr>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item (click)="logout()">logout</button>
        </mat-menu>
        
        <button mat-raised-button class = "buttonBar" (click)="toMessages()">Messages</button>
        <button mat-raised-button class = "buttonBar"(click)="toContacts()">Kontakte</button>
        <button mat-raised-button class = "buttonBar" (click)="toAppointments()">Termine</button>

        <button mat-icon-button class = "menu" [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </form>
</div>