<div>
    <button class="emergencybutton">Notruf</button>
</div>
<div><body class="infotext">
    <p>"Notruf" klicken, um einen Notruf abzusetzen.</p>
    <p>"Messages" klicken, um Nachrichten zu lesen und zu verfassen.</p>
    <p>"Kontakte" klicken, um Kontakte zu verwalten.</p>
    <p>"Termine" klicken, um Termine zu verwalten.</p>
    <p>"Logout" klicken, um sich auszuloggen.</p>
</body></div>
<div style="vertical-align: bottom;">
    <button class="button">Messages</button>
    <button class="button">Kontakte</button>
    <button class="button" (click) = "toAppointments()">Termine</button>
    <button class="logoutbutton" (click)="logout()">Logout</button>
</div>