/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


.main_content{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
hr{
height: 0px;
visibility: hidden;
}
.loginButton {
    width: 20%;
    height: 50px;
    background-color: greenyellow;
    font: 1em sans-serif;
    color: black;
    float: center;
    font-size: 24px;
    border-color: lightgray;
    border-radius: 8px;

}
.mat-raised-em {
    color: red
}

.mat-raised-emergencybutton {
    width: 100%;
    height: 100px;
    vertical-align: top;
    background-color: lightgray;
    font: 1em sans-serif;
    color: black;
    font-size: 24px;
    border-radius: 8px;
}

.button {
    width: 25%;
    height: 100px;
    background-color:blue;
    color: white;
    font: 1em sans-serif;
    float: left;
    border-color: lightgrey;
    font-size: 24px;
    border-radius: 8px;
}
.messagebutton{
    width: 30%;
    height: 100px;
    background-color:blue;
    color: white;
    font: 1em sans-serif;
    float: left;
    border-color: lightgrey;
    font-size: 24px;
    border-radius: 8px;
}  
.logoutbutton {
    width: 20%;
    height: 100px;
    background-color: blue;
    font: 1em sans-serif;
    color: black;
    float: left;
    font-size: 24px;
    border-radius: 8px;
}

.infotext {
    color: black;
    font: 1em sans-serif;
    font-size: 24px;
    text-align: center;
}
.backButton {
    width: 80%;
    height: 50px;
    background-color:lightgray;
    color: white;
    font: 1em sans-serif;
    border-color: blue;
    font-size: 18px;
    border-radius: 8px;
}
.chooseContacts {
    width: 20%;
    height: 50px;
    background-color:lightslategray;
    color: white;
    font: 1em sans-serif;
    border-color: purple;
    font-size: 18px;
    border-radius: 8px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
