<div>
    <button class="emergencybutton">Notruf</button>
</div>

<div><body class="infotext">
    <p>Bitte tragen Sie den gewünschen Datum für Ihr Termin hier ein.</p> 

    <p>Hier kommt noch einen Kalender</p>

    <p>Wem möchten Sie einladen?</p>
    <p>Wählen Sie die gewünschte Kontakte von Ihrer Kontaktliste</p>
    <p>Button - Kontakte auflisten</p>
    
</body></div>

<div style="vertical-align: bottom;">
    <button class="button">Messages</button>
    <button class="button">Kontakte</button>
    <button class="button" (click) = "toAppointments()">Termine</button>
    <button class="logoutbutton" (click)="toMain()">Home</button>
</div>
