<div class = "standard">
    <button mat-raised-button class="emergencybutton">Hilfe anfordern</button>
<form>
    <hr>
    Wählen Sie einen Termin aus
    <button mat-raised-button class="button" (click)="toCalendar()">Termin wählen</button>
    <p></p>
    Wen möchten Sie einladen?
    <button mat-raised-button class="button" (click) ="toContacts()">Kontakte wählen</button>
    <hr>
    <textarea mat-form-field cols="40" placeholder="Weitere Infos/Einladungsnachricht"></textarea>
    <hr>
    <button mat-raised-button class="button">Senden</button>
    <hr>
   
    <button mat-raised-button class = "buttonBar" (click)="toMain()">Home</button>
    <button mat-raised-button class = "buttonBar" (click)="toMessages()">Kontakte</button>
    <button mat-raised-button class = "buttonBar" (click)=toAppointments()>Termine</button>
    <button mat-icon-button class = "menu" [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
  </button>
  </form>
</div>