<div class = "standard" fxFlex="45%">
    <button mat-raised-button class="emergencybutton" (click) = "help()">Hilfe anfordern</button>
<form>
    <hr>
    Wählen Sie einen Termin aus
    <button mat-raised-button class="button" (click)="toCalendar()">zum Kalender</button>
    <p></p>
    Wen möchten Sie einladen?
    <button mat-raised-button class="button" (click) ="toContacts()">zu Kontakten</button>
    <hr>
    <textarea mat-form-field cols="40" placeholder="Weitere Infos/Einladungsnachricht"></textarea>
    <hr>
    <button mat-raised-button class="button">Senden</button>
    <hr>
   
    <button mat-raised-button class = "buttonBar" (click)="toMain()">Home</button>
    <button mat-raised-button class = "buttonBar" (click)="toMessages()">Message</button>
    <button mat-raised-button class = "buttonBar" (click)="toContacts()">Kontakte</button>
    <button mat-icon-button class = "menu" [matMenuTriggerFor]="appMenu">
      <mat-icon>***</mat-icon>
  </button>
  </form>
</div>