<div class = "standard" fxFlex="45%">
    <header>Registrierung</header>
    <form>
        <mat-form-field class="inputField">
            <input matInput placeholder="Vorname" name='name' [ngModel]="name" required/>
        </mat-form-field>

        <mat-form-field class="inputField">
            <input matInput placeholder="Nachname" name='surname' [ngModel]="surname" required/>
        </mat-form-field>

        <mat-form-field class= "inputField">
            <input matInput placeholder="Email" name='email' [ngModel]="email" required/>
        </mat-form-field>

        <mat-form-field class = "inputField">
            <input matInput placeholder="Passwort" type = "password" name='newPassword' [ngModel] = "newPassword" (keydown.enter)="register()" required/>
        </mat-form-field>

        <mat-checkbox class ="checkBox">
                Er/Sie akzeptieren die 
                <hr>
                "End User License Agreement"
        </mat-checkbox>

        <hr>
        <button mat-raised-button class = "button" (click)= "register()">Registrieren</button>
        <button mat-raised-button class = "button" (click)="backToMain()">zur Hauptseite</button>
    </form>

</div>