<div class = "standard">
    <form>
        <button mat-raised-button class="emergencybutton" (click) = "help()">Hilfe anfordern</button>
        <mat-nav-list>
            <mat-list-item *ngFor="let cnv of getConversations()">
                <button mat-icon-button (click)="goTo(cnv)">{{cnv}}</button>

            </mat-list-item>

        </mat-nav-list>

        <hr>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item (click)="logout()">logout</button>
        </mat-menu>
        
        <button mat-raised-button class = "buttonBar" (click)="toMain()">Home</button>
        <button mat-raised-button class = "buttonBar" (click)="toContacts()">Kontakte</button>
        <button mat-raised-button class = "buttonBar" (click)=toAppointments()>Termine</button>

        <button mat-icon-button class = "menu" [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </form>
</div>