<div class="standard">
  <form>
    <button mat-raised-button class="emergencybutton" (click)= "help()">Hilfe anfordern</button>
    
  <h4>Kontakte:</h4>
  <mat-nav-list>
    <mat-list-item *ngFor="let contact of getContacts()">
      <button mat-icon-button>{{contact}}</button>
    </mat-list-item>
  </mat-nav-list>
    
  
  <button mat-raised-button class = "buttonBar" (click)="toMain()">Home</button>
  <button mat-raised-button class = "buttonBar" (click)="toMessages()">Kontakte</button>
  <button mat-raised-button class = "buttonBar" (click)=toAppointments()>Termine</button>
  <button mat-icon-button class = "menu" [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
</button>
</form>
  </div>